.container{
    display: inline-block;
    width: 100%;
}
.bg-cl{
    background-color:#03a9f3;
}
    .hero{
      padding-top: 80px;
      padding-bottom: 40px;
      background-image: url(../img/banner.jpg);
      background-size: cover;
      background-position: center;
    }
        .hero > .row{
           display: inline-block;
           width: 600px;
           margin-left: calc( (100% - 600px) / 2 );
           margin-right: calc( (100% - 600px) / 2 );
           text-align: center;
        }
            .hero > .row > img{
                display: inline-block;
                margin-bottom: 60px;

            }
            .hero > .row > h1{
                display: inline-block;
                width: 100%;
                margin-bottom: 20px;
                color: #000;
                font-size: 60px;
                line-height: 60px;
                text-transform: uppercase;
            }   
            .hero > .row > p{
                display: inline-block;
                width: 100%;
                margin-bottom: 60px;
                color: #888;
                font-size: 25px;
                line-height: 30px;
            }
            .hero > .row > .clock{
                display: inline-block;
                width: 100%;
                margin-bottom: 60px;
            }
            .hero > .row > form{
                display: inline-block;
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 20px;
            }
            .hero > .row > .mouse{
                display: inline-block;
                width: 25px;
                height: 50px;
                border: 1.5px solid whitesmoke;
                border-radius: 25px;
            }
                .hero .mouse >.scroll{
                    display: inline-block;
                    width: 2px;
                    height: 7px;
                    position: relative;
                    background-color: whitesmoke;
                    animation-name: judulys;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                }
                    @keyframes judulys {
                        from {top: 3px;}
                        to {top: 37px; }
                      }
.content{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: whitesmoke;
}
    .content > .row{
        display: inline-block;
        width: 1000px;
        margin-left: calc( (100% - 1000px) /2 );
        margin-right: calc( (100% - 1000px) /2 );

    }
        .content > .row > .left{
            display: inline-block;
            width: 50%;
            float: left;
        }
        .content > .row > .right{
            display: inline-block;
            width: 40%;
            float: right;
        }
            .content > .row h3{
                display: inline-block;
                width: 100%;
                margin-bottom: 30px;
                text-transform: uppercase;
            }
            .content > .row p{
                display: inline-block;
                width: 100%;
                margin-bottom: 30px;
                font-size: 16px;
                line-height: 20px;
            }
                .content > .row p > a{
                    color: #ea1e63;
                    text-decoration: none;
                }

  footer{
    padding-bottom: 60px;
    text-align: center;
  }
        footer > .row{
            display: inline-block;
            width: 1000px;
            margin-left: calc( (100% - 1000px) /2);
            margin-right: calc( (100% - 1000px) /2);
        }
            footer > .row > .socials{
                display: inline-block;
                width: 100%;
                margin-bottom: 20px;
                border-bottom: 2px solid #fff;
            }
                footer > .row > .footer-content{
                    display: inline-block;
                    width: 600px;
                    color: rgba(255, 255, 255, 0.75);
                } 
                    footer .footer-content > img{
                        display: inline-block;
                        margin-bottom: 20px;
                    }
                    footer .footer-content > .text-list{
                        display: inline-block;
                        width: 100%;
                    }
                        footer .text-list > .text{
                            display: inline-block;
                        }
                            footer .text-list > .text:nth-child(2){
                                padding-left: 5px;
                                padding-right: 10px;
                                margin-left: 10px;
                                margin-right: 10px;
                                border-left: 1.5px solid #fff;
                                border-right: 1.5px solid #fff;
                            }
                            footer .footer-content a{
                                color: #fff;
                            }