.progresbar{
    display: inline-block;
    width: 100%;
}
    .progresbar > .text {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
        color: rgb(122, 122, 122);
    }
        .progresbar > .text > .title{
            display: inline-block;
            float: left;
        }
        .progresbar > .text > .values {
            display: inline-block;
            float: right;
        }
    .progresbar > .bar{
        display: inline-block;
        width: 100%;
        height: 6px;
        background-color: rgb(228, 228, 228);
        border-radius: 2px;
        overflow: hidden;
    }
        .progresbar > .bar > .value {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        .progresbar > .bar > .value > .loading {
            display: inline-block;
            width: 50%;
            height: 100%;
            background-color: #03A9F3;
            animation: loading 2s ease-in-out 0s 1 normal forwards;
        }

        @keyframes loading{
            0% {
                width: 0%;
            }
            100%{
                width: 100%;
            }
        }